
<h3>Your word: <%= @attempt %></h3>
<h5>Time Taken to answer: <%= @time %> seconds</h5>
<h5>Your score: <%= @score %></h5>
<h5>Message: <%= @message %></h5>
<h5>*****************************************************</h5>

<%= link_to "Play a new game", game_path %>
